<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="existingInitiation" type="com.laboschcst.server.entity.account.AccountJoinInitiation"*/-->
<!--/*@thymesVar id="waitingForApprovalInitiations" type="java.util.Set<com.laboschcst.server.entity.account.AccountJoinInitiation>"*/-->
<head>
    <meta charset="UTF-8">
    <title>Join accounts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="fragments/includeTest.html"></div>

<div th:if="${initiationStatus == 'success'}">
    <h3>Success</h3>
    <p>Your join request is opened!</p>
</div>

<div th:if="${initiationStatus == 'error'}">
    <h3>Failure</h3>
    <p th:text="${statusMessage}"></p>
</div>

<div th:if="${existingInitiation != null}">
    <h2>Current join request</h2>
    <p>This request is initiated from this account and isn't approved yet.</p>

    <div style="padding-left: 30px">

        <form method="post">
            <input type="submit" name="submitCancel" value="Cancel">
            <input type="hidden" th:name="action" value="cancelInitiatedJoin"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>

        <p th:text="'Approver: ' + ${existingInitiation.getApproverUserAcc().getId()}"></p>
        <p><a th:href="${const.loginPageUrl}">Log in to the account</a> to approve the join request!</p>
    </div>
</div>

<div th:if="${submitEmailAddress == true}">
    <form method="post">
        <label for="targetEmailAddress">Enter an e-mail address of the account you want to join with!</label>
        <input id="targetEmailAddress" name="targetEmailAddress" class="form-control" type="email"
               placeholder="example@something.com">

        <input type="submit" class="btn btn-primary" value="Initiate join">

        <input type="hidden" th:name="action" value="initiateJoin"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>

<div>
    <h2>Waiting for approval</h2>
    <p>Join requests initiated from other accounts waiting for approval by this account.</p>

    <div th:if="${waitingForApprovalInitiations}">

    </div>

    <div th:each="initiation : ${waitingForApprovalInitiations}">
        <form method="post" style="padding-left: 30px">
            <p th:text="'Initiator: ' + ${initiation.getInitiatorUserAcc().getId()}"></p>

            <button type="submit" name="subAction" value="joinIntoApprover">Join into this account</button>
            <button type="submit" name="subAction" value="joinIntoInitiator">Join this account into</button>
            <button type="submit" name="subAction" value="reject">Reject</button>

            <input type="hidden" th:name="action" value="judgeInitiation"/>
            <input type="hidden" name="initiationId" th:value="${initiation.getId()}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>

</div>

</body>
</html>