<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .button {
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #ffffff;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            transition: all 0.3s;
            cursor: pointer;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
        }
    </style>
</head>
<body>
    <div th:remove="all">
        <div th:fragment="mailSubject" th:remove="tag"> Asszed, tied ez a mail? </div>
    </div>

        <a th:href="${emailVerificationUrl}">
            <button class="button"
                    style="vertical-align:middle; width: 380px; margin: 0 auto; display: block">
                <span> Igen, az enyém - klikk ide! </span>
            </button>
        </a>

        <p>Ha a fenti gomb nem működne, nyisd meg ezt a linket, hogy a Qpa Web accodhoz csatlakoztasd ezt az e-mail címet: <a th:href="${emailVerificationUrl}" th:text="${emailVerificationUrl}">asd</a></p>

    <div th:replace="mail/fragments/signature.html"></div>
</body>
</html>
