<div style="font-size: 10pt; font-family: Verdana, sans-serif;">
    <table style="font-family:Verdana, sans-serif;" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="width:140px; padding:0; text-align:center; vertical-align:middle;" width="140" valign="middle">
                <img alt="photograph" style="width:100px; height:100px; border-radius:50px; border:0;"
                     src="https://s12emagst.akamaized.net/products/5339/5338169/images/res_4f2bbf3f2d271408d4b38099dbd33f32_200x200_espe.jpg"
                     width="100" height="100" border="0">
            </td>
            <td style="border-bottom:2px solid; border-bottom-color:#ed5a24; padding:0; vertical-align:top;"
                valign="top">
                <table style="font-family:Verdana, sans-serif;" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="font-family:Verdana, sans-serif; color:#ed5a24; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; vertical-align:top;"
                            valign="top">
                            <strong><span
                                    style="font-family:Verdana, sans-serif; color:#ed5a24; font-size:14pt; font-style:italic;">Lá-lá-lá-lá- Lábosch</span></strong><br>
                            <span style="font-family:Verdana, sans-serif; color:#ed5a24; font-size:10pt;">49. Schönherz Qpa rendező csapata</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, sans-serif; color:#444444; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; line-height:18px; vertical-align:top;"
                            valign="top">
                            <span style="font-family:Verdana, sans-serif; color:#444444; font-size:10pt;">email: labosch@sch.bme.hu<br> </span>
                            <span style="font-family:Verdana, sans-serif; color:#444444; font-size:10pt;">phone: +36 30 860 4981</span>

                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, sans-serif; color:#444444;  padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; line-height:18px; vertical-align:top;"
                            valign="top">
                            <span style="font-family:Verdana, sans-serif; color:#444444; font-size:10pt;">Lábosch, </span>
                            <span style="font-family:Verdana, sans-serif; color:#444444; font-size:10pt;">Kupa vezér útja 2-8,</span>
                            <span style="font-family:Verdana, sans-serif; color:#444444; font-size:10pt;">Budapest, 69420</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, sans-serif; width:140px; padding-top:6px; padding-left:0; padding-right:0; text-align:center; vertical-align:middle;"
                width="140" valign="middle">
                <span>
                    <a href="https://www.facebook.com/lalalabosch/" target="_blank" rel="noopener">
                        <img alt="facebook icon" style="border:0; height:16px; width:16px"
                             src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/photo2/fb.png"
                             width="16" border="0"></a>&nbsp;
                </span>
                <span><a href="https://www.youtube.com/channel/UCk6CY-rbINrzkmCCse8Fv5g" target="_blank" rel="noopener">
                <img alt="youtube icon" style="border:0; height:16px; width:16px"
                     src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/photo2/yt.png"
                     width="16"
                     border="0"></a>&nbsp;
                </span>
                <span><a href="https://www.linkedin.com/in/janos-gats/" target="_blank" rel="noopener">
                    <img alt="linkedin icon" style="border:0; height:16px; width:16px"
                         src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/photo2/ln.png"
                         width="16" border="0"></a>&nbsp;
                </span>
            </td>
            <td style="padding-top:6px; padding-bottom:0; padding-left:0; padding-right:0; vertical-align:middle;"
                valign="middle">
                <a href="http://qpa.sch.bme.hu" target="_blank" rel="noopener" style=" text-decoration:none;">
                    <span style="color:#ed5a24; font-family:Verdana, sans-serif; font-size:10pt">
                        <span style="color:#ed5a24; font-family:Verdana, sans-serif; font-size:10pt">qpa.sch.bme.hu</span>
                    </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
